body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://c0.wallpaperflare.com/preview/273/564/913/storm-sky-cloud-lightning.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

.content {
  max-width: 800px;
  margin: 20px auto; /* Add margin to the top and bottom */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.navbar {
  background-color: #75abe5;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
  color: black;
  text-shadow: black;
}

.about-section {
  padding: 20px 0;
}

h1 {
  font-size: 28px;
  color: #1e00ff;
  text-align: center;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  
  
}

h2 {
  font-size: 24px;
  color: #007bff;
  
  
}

#p1,#p2,#p3 {
  font-size: 16px;
  line-height: 1.5;
  background-color: rgba(30, 64, 216, 0.547);
  border-radius: 10px;
  margin-right: 50px;
  padding: 15px;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

.footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

#list{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  background-color: rgba(30, 64, 216, 0.547);
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.5;
 
  
}
