body {
  background-color: #f4f4f4;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.content {
  max-width: 800px;
  margin: 20px auto; /* Add margin to the top and bottom */
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.navbar {
  background-color: #75abe5;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.navbar a:hover {
  text-decoration: underline;
}

.about-section {
  padding: 20px 0;
}

h1 {
  font-size: 28px;
  color: #007bff;
}

h2 {
  font-size: 24px;
  color: #007bff;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

ul {
  list-style: disc;
  padding-left: 20px;
}

ul li {
  margin-bottom: 10px;
}

.footer {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
