@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

html {
  box-sizing: border-box;
  font-size: 14px;
}

/* Style the navbar */
.navbar {
  background-color: rgb(218, 218, 218);
  width: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-direction: row;
  justify-content: center;
  /* make navbar stick to the center */
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .navbar {
    width: 80%;
    font-size: 3em;
  }
}

/* Style the navigation list */
.nav-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Style the list items */
.nav-item {
  float: left;
  margin: 0;
}

/* Style the links */
.nav-item a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
.nav-item a:hover {
  background-color: #ddd;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
}

/* Style the button */
.button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 20px;
  text-align: center;
}

.button a {
  text-decoration: none;
  color: #fff;
}

.button:hover {
  background-color: #333333d3;
}

.bottom-btn {
  z-index: 9;
  /* position: relative; */
  bottom: 83px;
  left: 50%;
  transform: translateX(-50%);
}

.back {
  display: flex;
  align-items: center;

  justify-content: center;
  margin: 10px;
}
.light-text {
  color: #a5a5a5;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

/*Card CSS*/
/* Styles for the card */
.admin-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.card-body {
  display: flex;
  padding: 10px;
  background-color: #f8f8f8;
  /* make the text appear right to the image */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.card-header img {
  /* width: 100%; */
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-img {
  position: relative;
  left: 10px;
  flex: 1;
}

.card-text {
  flex: 2;
}

.card-icon {
  text-align: center;
}

.card-text h2 {
  position: relative;
  margin: 0;
  font-size: 1.5rem;
  color: #333;
}

.card-text p {
  position: relative;
  top: 5px;
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
  /* font-size: ; */
}

.card-footer {
  padding: 10px 20px;
  text-align: center;
  background-color: #3498db;
}

.card-footer a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #2980b9;
}

.card-footer a:hover {
  background-color: #1f639e;
}

.seperator {
  border-left: 1.5px solid rgb(214, 214, 214);
  height: 125px;
}

.left {
  flex: 1;
  display: flex;
  align-items: center;
  padding: 5px;
}

.right {
  display: flex;
  align-items: center;
  width: 60px;
  padding: 5px;
}

.right a {
  width: 100%;
}

.right a img {
  width: 100%;
}

/* Mobile-First Responsive Design */
/* Smaller screens, like smartphones */
@media (max-width: 768px) {
  /* Adjust the header and landing text */
  header {
    font-size: 20px;
  }

  .landing-text {
    font-size: 4rem;
    /* Adjust to your preference */
  }

  .landing-text-2 {
    font-size: 0.7rem;
    /* Adjust to your preference */
  }

  /* Modify the container width and padding */
  .container {
    margin-top: 2rem;
    max-width: 85%;
    padding: 10px;
  }

  /* Adjust the input and button sizes */
  #input {
    width: 60%;
    font-size: 12px;
  }

  #button {
    padding: 8px 16px;
  }

  /* Make the navbar full width and smaller text */
  .navbar {
    width: 100%;
    font-size: 14px;
  }

  /* Modify the footer text size and padding */
  footer {
    position: relative;
    margin-top: 26vh;
    font-size: 12px;
    padding: 2px;
  }
}

/* footer */
footer {
  width: 100%;
  background-color: rgb(235, 235, 235);
  color: black;
  text-align: center;
  padding: 5px;
  margin-top: 2px;
  /* make it stick to the bottom of the page */
  /* position: absolute; */
  bottom: 0;
  left: 0;
  right: 0;
}
