@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

/* Style the header */
header {
    background-color: whitesmoke;
    color: gray;
    text-align: center;
    padding: 20px 0;
}

/* Style the container */
.container {
    max-width: 600px;
    border-style: solid;
    border-color: black;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-top: 10px;
}

.loc-details {
    /* make some space between the placeholder and button*/
    margin-bottom: 20px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* Style the input field */
#input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 70%;
    margin-right: 10px;
}

/* Style the button */
#button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 20px;
}

.button {
    width: 70px;
    height: 50px;
    border: none;
    background-color: #0099ff;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 50px;
}

.button:hover {
    overflow: hidden;
    background-color: #0077cc;
    /* make an arrow appear on hover */
    background-image: url("https://img.icons8.com/ios-filled/50/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position: 50%;
    /* slide the arrow in and text out of the button in right to left direction */
    transition: background-position 0.5s, padding-right 0.5s;
    padding-right: 80px;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #cccccc;
}

.result-container {
    margin-top: 20px;
    padding: 10px;
    border: 5px solid black;
    border-radius: 17px;
    background-color: #0099ff;
}

#result {
    margin: 30px 10px 10px 10px;
    padding: 10px;
    border: 1px solid #cccccc;
}
#result .temp {
    color: #ecf0f1;
    font-size: 2.5em;
}
#result .description {
    font-size: 1.5em;
}

.result-box {
    font-size: 1em;
    text-align: center;
    color: #ecf0f1;
    padding: 20px;
    background-color: #8db6e6;
    border: 1px solid #ccc;
    border-radius: 15px;
  }

/* Style the navbar */
.navbar {
    background-color: rgb(218, 218, 218);
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* make navbar stick to the center */
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

/* Style the navigation list */
.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the list items */
.nav-item {
    float: left;
    margin: 0;
}

/* Style the links */
.nav-item a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
.nav-item a:hover {
    background-color: #ddd;
    color: black;
}

.landing-text {
    font-size: 250px;
    text-align: center;
    margin-top: 100px;
    /* font-family: 'Prompt', sans-serif; */
    /* font-family: 'Young Serif', serif; */
    font-family: 'Righteous', cursive;
}

.landing-text-2 {
    /* position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; */
    letter-spacing: 10px;
    font-family: 'Kalam', cursive;
}

/* Style the temperature icon with color */
.fa-thermometer-half.fa-lg {
    color: #ff5733;
    /* Customize the color as needed */
}

/* Style the humidity icon with color */
.fa-tint.fa-lg {
    color: #3498db;
    /* Customize the color as needed */
}

/* Style the wind icon with color */
.fa-wind.fa-lg {
    color: #f39c12;
    /* Customize the color as needed */
}

/* Style the sun icon with color */
.fa-sun {
    color: #ffd700;
    /* Customize the color as needed */
}

/* Style the cloud icons with color */
.fa-cloud {
    color: #ecf0f1;
    /* Customize the color as needed */
}

/* Style the fog icon with color */
.fa-smog {
    color: #7f8c8d;
    /* Customize the color as needed */
}

/* Style the rainfall icon with color */
.fa-cloud-showers-heavy {
    color: #3498db;
    /* Customize the color as needed */
}

/* Style the light rain icon with color */
.fa-cloud-rain {
    color: #3498db;
    /* Customize the color as needed */
}

/* footer */
footer {
    background-color: rgb(235, 235, 235);
    color: black;
    text-align: center;
    padding: 5px;
    margin-top: 2px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    position: sticky;

}

.light-text {
    color: #a5a5a5;
}

.loader {
    width: 175px;
    height: 80px;
    display: block;
    margin: auto;
    background-image: radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), radial-gradient(circle 50px at 50px 50px, #FFF 100%, transparent 0), radial-gradient(circle 25px at 25px 25px, #FFF 100%, transparent 0), linear-gradient(#FFF 50px, transparent 0);
    background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
    background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
    background-repeat: no-repeat;
    position: relative;
    box-sizing: border-box;
  }
  .loader::after {
    content: '';  
    left: 0;
    right: 0;
    margin: auto;
    bottom: 20px;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-color: #00c3ff transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

/* Styles for the preloader */
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}


dotlottie-player {
    width: 100%;
    height: 100%;
}

/* Styles for the spinner (adjust as needed) */
.spinner {
    border: 4px solid #3498db; /* Color of the spinner */
    border-top: 4px solid transparent;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite; /* Rotation animation */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/*Card CSS*/
/* Styles for the card */
.card {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.card-header img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    padding: 20px;
    background-color: #f8f8f8;
}

.card-body h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.card-body p {
    margin-top: 10px;
    font-size: 1rem;
    color: #555;
}

.card-footer {
    padding: 10px 20px;
    text-align: center;
    background-color: #3498db;
}

.card-footer a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #2980b9;
}

.card-footer a:hover {
    background-color: #1f639e;
}
